<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Survey</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
            {@RenderSection("Styles", required: false)}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/iCheck/custom.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/iCheck/custom.css" rel="stylesheet" />
    </environment>

</head>
<body class="top-navigation ">
    <!-- Wrapper-->
    <!-- @Html.Partial("_SkinConfig") -->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper">
        <!-- Page wraper -->
        <div id="page-wrapper" class="white-bg   @ViewBag.SpecialClass" >
            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar2")
            <!-- Main view  -->
            @RenderBody()
            <!-- Footer -->
            @Html.Partial("_Footer")
        </div>
        <!-- End page wrapper-->
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/dist/metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/pace/pace.js"></script>
        <script src="~/js/script.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/skin.config.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>
        <script src="~/lib/pace/pace.min.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
    </environment>

    <environment names="Development,Staging,Production">
        <style>
            .borderX {
                border-color: #e7eaec;
                border-image: none;
                border-style: solid solid solid;
                border-width: 0px 1px 1px 1px;

            }
            .ibox-title {
                border-width: 1px 0 0;
            }
        </style>
    </environment>


    @RenderSection("scripts", required: false)
</body>
</html>
